/* Infinite Scroll Animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.slider-track {
    display: flex;
    gap: 3rem;
    width: max-content;
    animation: scroll 30s linear infinite;
}

.slider-track:hover {
    animation-play-state: paused;
}